@{
    ViewData["Title"] = "Home Page";
}
    <link rel="stylesheet" href="~/css/site.css">
    <div class="text-center">
        <style>
            body {
                background-image: url("https://hdwallsource.com/img/2014/2/coffee-wallpaper-16439-16970-hd-wallpapers.jpg");
                background-position: center;
                background-size: 100%;
            }
        </style>
        <br />
        <br />
        <br />
        <br />
        <h1 class="display-4"><font color="white">JavaHaus</font></h1>
        <br />
        <br />
        <br />
        <h1 class="display-4"><font color="white">Coffee. Redefined.</font></h1>

        @{


        }
    </div>
